:root{
    --color-white:#fff;
    --color-dark1:#27272723;
    --color-dark2:#2d2d2d;
    --color-dark3:#414141;
    --color-active:#1921638a;
    --color-darkheader:#414141;
    --color-dark5:#343434;
    --color-blue1:#7a9dc5;
    --color-blue2:#66a4a8;
    --color-blue3:#02383d;
    --color-blue4:#0f023d;
    --color-blue5:#0400ff70;
}
*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: var(--color-aqua); */
    background-image: linear-gradient(
        45deg,var(--color-blue1),var(--color-blue2)
    );
    color: var(--color-white);
}
.imgheader{
    width: 45px;
}
.header, .navigation_header{
display: flex;
flex-direction: row;
align-items: center;

}
.header{
    background-color: var(--color-dark1);
    box-shadow: 1px 1px px var(--color-dark4);
    height: 70px;
    justify-content: space-between;
    padding: 0 10%;
}
.navigation_header{
    gap: 15px;
}
.navigation_header a{
text-decoration: none;
color: var(--color-white);
transition: 0.3s;
font-weight: bold;
}
.navigation_header a:hover{
    color: var(--color-active);
}
.active{
    background-color:var(--color-active);
    padding: 10px;
    border-radius: 20px;
}
.content{
    text-align: center;
    padding: 50px;
    height: 100vh;
    transition: 1s;
}
.btn_icon_header{
    display: none;
    background-color: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
}
@media screen and (max-width: 768px){
    .btn_icon_header{
        display: block;
    }
    .navigation_header{
        position:absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--color-dark5);
        height: 100%;
        width: 35vw;
        padding: 16px;
        animation-duration: 0.5s;
        margin-left: -100vw;
    }
    @keyframes showSidebar{
        from{margin-left: -100vw;}
        top{margin-left: -10vw;}
    }

}

.content{
    display: flex;
    flex-wrap: nowrap;
}

.talk{
    text-align: left;
    margin-top: 10rem;
    color: var(--color-blue3);
}
form{
    margin-left: 7rem;
    background-color: white;
    max-width: 500px;
    width: 70%;
    height: 70%;
    padding: 20px;
    position: relative;
    border-radius: 15px;
}
.sendmessage{
    text-align: left;
    color: var(--color-blue4);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    padding: 2rem;
}
form input[type=text]{
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;

}
form input[type=submit]{
    margin-right: 50rem;
    margin-top: 100px;
    cursor: pointer;
    background-color: var(--color-blue4);
    width: 30%;
    height: 40px;
    color: white;
    border: 0;
    border-radius: 1rem;
    transition: 0.3s;
    
}
form input[type=submit]:hover{
    background-color:var(--color-darkheader);
}

form input[type=text],form input[type=password]{
    outline: 0;
}
@media screen and (max-width: 768px){
.form{
    position: absolute;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    max-height: 400px;
    margin-top: 220px;
    margin-left: 1px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.form input[type=submit]{
    margin-top: 10px;
}
.navigation_header{
    z-index: 1;
}
.talk{
    margin-top: 10px;
text-align: center;
}

}
